<!DOCTYPE html>
<html lang="en">
<head>
    <title>CatSocial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://icons.getbootstrap.com/icons/image/">
    <link href="/public/stylesheets.css" rel="stylesheet">
    <script src="/public/main.js"></script>
</head>
<body>
  <%-include("header")%>
    <div id="mySidenav" class="sidebar">
        <button href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</button>
        <h1 class="text-siderbar">Notified by department</h1>
        <a href="" class="navlink-siderbar">Phòng Công tác học sinh sinh viên (CTHSSV)</a>
        <a href="" class="navlink-siderbar">Phòng Đại học</a>
        <a href="" class="navlink-siderbar">Phòng Sau đại học</a>
        <a href="" class="navlink-siderbar">Phòng điện toán và máy tính</a>
        <a href="" class="navlink-siderbar">Phòng khảo thí và kiểm định chất lượng</a>
        <a href="" class="navlink-siderbar">Phòng tài chính</a>
        <a href="" class="navlink-siderbar">TDT Creative Language Center</a>
        <a href="" class="navlink-siderbar">Trung tâm tin học</a>
        <a href="" class="navlink-siderbar">Trung tâm đào tạo phát triển xã hội (SDTC)</a>
        <a href="" class="navlink-siderbar">Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</a>
        <a href="" class="navlink-siderbar">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</a>
        <a href="" class="navlink-siderbar">Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa</a>
        <a href="" class="navlink-siderbar">Viện chính sách kinh tế và kinh doanh</a>
        <a href="" class="navlink-siderbar">Khoa Luật</a>
        <a href="" class="navlink-siderbar">Khoa Mỹ thuật công nghiệp</a>
        <a href="" class="navlink-siderbar">Khoa Điện-Điện tử</a>
        <a href="" class="navlink-siderbar">Khoa Công nghệ thông tin</a>
        <a href="" class="navlink-siderbar">Khoa Quản trị kinh doanh</a>
        <a href="" class="navlink-siderbar">Khoa Môi trường và bảo hộ lao động</a>
        <a href="" class="navlink-siderbar">Khoa Lao động công đoàn</a>
        <a href="" class="navlink-siderbar">Khoa giáo dục quốc tế</a>
        <a href="" class="navlink-siderbar">Khoa Tài chính ngân hàng</a>
    </div>
    <div id="main">
       <button onclick="openNav()" class="openbtn">&#9776;</button>
        <!--icon bar-->
        <a class="icon-bar" href="index.html"><i class="fa fa-home"></i></a>
      
       <div class="card">
        <div class="card-header">
          <h3>TÊN PHÒNG/KHOA</h3>
        </div>
        <div class="card-body">
          <h2><font style="vertical-align: inherit;">Title Notfication</font></h2>
          Nội dung thông báo
        </div>
      </div>
    </div>
</body>
<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "300px";
      document.getElementById("main").style.marginLeft = "300px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
</script>
</html>