<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatSocial</title>   <title>CatSocial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/public/stylesheets.css" rel="stylesheet">
    <script src="/public/main.js"></script>
    
</head>
<body>
    <main role="main">
        <div class="container ">
        <h1 class="card-title mb-0 text-center ">Activities</h1>
        </div>
        <div class="card-body h-100">

            <div class="media">
                <img src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" width="36" height="36" class="rounded-circle mr-2" alt="Ashley Briggs">
                <div class="media-body">
                    <small class="float-right text-navy">5m ago</small>
                    <strong>@username</strong> started following <strong>Stacie Hall</strong><br>
                    <small class="text-muted">Today 7:51 pm</small><br>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src=" https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" width="36" height="36" class="rounded-circle mr-2" alt="Chris Wood">
                <div class="media-body">
                    <small class="float-right text-navy">30m ago</small>
                    <strong>@username</strong> posted something on <strong>@username</strong>'s timeline<br>
                    <small class="text-muted">Today 7:21 pm</small>

                    <div class="border text-sm text-muted p-2 mt-1">
                        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam..
                    </div>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" width="36" height="36" class="rounded-circle mr-2" alt="Stacie Hall">
                <div class="media-body">
                    <small class="float-right text-navy">1h ago</small>
                    <strong>@username</strong> posted a new blog<br>

                    <small class="text-muted">Today 6:35 pm</small>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" width="36" height="36" class="rounded-circle mr-2" alt="Carl Jenkins">
                <div class="media-body">
                    <small class="float-right text-navy">3h ago</small>
                    <strong>@username</strong> posted two photos on <strong>@username</strong>'s timeline<br>
                    <small class="text-muted">Today 5:12 pm</small>

                    <div class="row no-gutters mt-1">
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <img src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" class="img-fluid pr-2" alt="Unsplash">
                        </div>
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <img src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" class="img-fluid pr-2" alt="Unsplash">
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" width="36" height="36" class="rounded-circle mr-2" alt="Stacie Hall">
                <div class="media-body">
                    <small class="float-right text-navy">1d ago</small>
                    <strong>@username</strong> posted a new blog<br>
                    <small class="text-muted">Yesterday 2:43 pm</small>
                </div>
            </div>

            <hr>
            <div class="media">
                <img src=" https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" width="36" height="36" class="rounded-circle mr-2" alt="Chris Wood">
                <div class="media-body">
                    <small class="float-right text-navy">1d ago</small>
                    <strong>@username</strong> started following <strong>Stacie Hall</strong><br>
                    <small class="text-muted">Yesterdag 1:51 pm</small>
                </div>
            </div>

            <hr>
            <a href="#" class="btn btn-primary btn-block">Load more</a>
        </div>
        </div>
    </main>
</body>
</html>