<!DOCTYPE html>
<html lang="en">
<head>
    <title>CatSocial</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="/public/stylesheets.css" rel="stylesheet">
    <script src="/public/main.js"></script>
  
</head>
<body class="text-center bg-dark">
    <main class="form-signin bg-light">
        <h2 class="text-login"><a href="#">CatSocial</a></h2>
        <img class="mr-4" src="https://cdn1.iconfinder.com/data/icons/animals-95/300/cat-circle-animal-pet-wild-domestic-256.png" alt="" width="70" height="70">
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

        <div class="body-login">
          <form action="/signup" method="post" class="container" >
            <div class="form-floating">
                <input type="text" placeholder="name faculty" id="faculty" name="faculty" >
                <!--chỗ này ko thay type = text được vì sẽ mất bôtrap-->
            </div>
          
            <div class="form-floating">
                <input type="email" placeholder="username@example.com" id="email" name="email" required>
            </div>
        
            <div class="form-floating">
                <input type="password" placeholder="Enter Password" id="password" name="password" required>
            </div>
            <div class="form-floating">
                <input type="password" placeholder="Enter Password confirm" id="passwordComfirm" name="passwordComfirm" required>
            </div>
            <div class="checkbox mb-3"> 

            </div>
            <div class="form-floating">
                <div class="department-select">
                        <h5>Vui lòng chọn Phòng/ Khoa</h5>
                        <select class="form-select">
                            <option>..Choose</option>
                            <option>Phòng Công tác học sinh sinh viên (CTHSSV)</option>
                            <option>Phòng Đại học</option>
                            <option>Phòng Sau đại học</option>
                            <option>Phòng điện toán và máy tính</option>
                            <option>Phòng khảo thí và kiểm định chất lượng</option>
                            <option>Phòng tài chính</option>
                            <option>TDT Creative Language Center</option>
                            <option>Trung tâm tin học</option>
                            <option>Trung tâm đào tạo phát triển xã hội (SDTC)</option>
                            <option>Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM)</option>
                            <option>Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                            <option>Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa</option>
                            <option>Viện chính sách kinh tế và kinh doanh</option>
                            <option>Khoa Luật</option>
                            <option>Khoa Mỹ thuật công nghiệp</option>
                            <option>Khoa Điện-Điện tử</option>
                            <option>Khoa Công nghệ thông tin</option>
                            <option>Khoa Quản trị kinh doanh</option>
                            <option>Khoa Môi trường và bảo hộ lao động</option>
                            <option>Khoa Lao động công đoàn</option>
                            <option>Khoa giáo dục quốc tế</option>
                            <option>Khoa Tài chính ngân hàng</option>
                        </select>
            </div>
            <button class="btn btn-lg btn-block btn-primary mb-3">
                Sign up
            </button>            
            <hr>
            <div class="text-center">
                <small class="text-muted text-center">
                  Already have an account? <a href="/login">Log in</a>.
                </small>
            </div>
            
          </form>
        </div>
    </main>  
</body>
</html>